

.board-text {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    margin-top: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

/*table thead tr {*/
/*    background-color: #007bff;*/
/*    color: white;*/
/*}*/

/*table thead tr th {*/
/*    padding: 12px;*/
/*    font-weight: bold;*/
/*    border: 1px solid #ccc;*/
/*}*/

.text-container {
    justify-content: space-between;
    width: 100%;
}

.text-wrap {
    display: table-row;
}

.text-wrap tr {
    display: table-row;
}

/*.text-wrap td {*/
/*    display: table-cell;*/
/*    padding: 10px;*/
/*    border-bottom: 1px solid #eee;*/
/*    text-align: center;*/
/*    vertical-align: middle;*/
/*}*/

/*.text-wrap:hover {*/
/*    background-color: #f9f9f9;*/
/*}*/


.text_id{
    text-align:  center;
}

.text_title {
    width: 1000px;
    text-align: center;
}

.text_user_no{
    width: 500px;
    text-align:  center;
}

.text_date{
    text-align:  center;
}

