




@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

html, body {
    height: 100%;
}

body {
    background-color: #1c1c1c;
    color: #e0d8c3;
    overflow-x: hidden;
}

.modal {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1000;

        display: flex;
        justify-content: center;
        align-items: center;
}

.modal-body {
    position: relative;
    background-color: #252525;
    color: #e0d8c3;
    padding: 30px;
    border-radius: 8px;
    text-align: center;


    width: 500px;
    height: 300px;
}

#closeModal {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    position:  absolute;
}

#closeModal:hover {
    background-color: #b30000;
}
