




@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

html, body {
    height: 100%;
}

body {
    background-color: #1c1c1c;
    color: #e0d8c3;
    overflow-x: hidden;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
    z-index: 1000;
}

.modal-body {
    background-color: #252525;
    color: #e0d8c3;
    padding: 30px;
    border-radius: 8px;
    text-align: center;
    min-width: 300px;
}

#closeModal {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}

#closeModal:hover {
    background-color: #b30000;
}
