

.sup{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    margin-top: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

/*table thead tr {*/
/*    background-color: #007bff;*/
/*    color: white;*/
/*}*/

/*table thead tr th {*/
/*    padding: 12px;*/
/*    font-weight: bold;*/
/*    border: 1px solid #ccc;*/
/*}*/

.sup-container {
    width: 100%;
}

.sup-wrap {
    display: table-row;
}

.sup-wrap tr {
    display: table-row;
}

/*.commu-wrap td {*/
/*    display: table-cell;*/
/*    padding: 10px;*/
/*    border-bottom: 1px solid #eee;*/
/*    text-align: center;*/
/*    vertical-align: middle;*/
/*}*/

/*.commu-wrap:hover {*/
/*    background-color: #f9f9f9;*/
/*}*/


.sup_id{
    text-align:  center;
}

.sup_title {
    width: 1000px;
    text-align: center;
}

.sup_user_no{
    text-align:  center;
}

.sup_date{
    text-align:  center;
}

